body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.hidden {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
}

.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar__item i {
  font-size: 1.5rem;
  color: #526356;
}

.navbar__item i:hover {
  color: green;
}
